<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
        <meta name="robots" content="index, follow">
        <meta name="author" content="CJ Patoilo">
        <meta name="description" content="Milligram - A minimalist CSS framework.">
        <title>LabworxMVC - {{pagetitle}}</title>
        <link rel="canonical" href="/">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" href="{{site_url}}{{assets_folder}}/css/milligram.min.css">
        <link rel="stylesheet" href="{{site_url}}{{assets_folder}}/css/main.css">
    </head>
<body>
    <main class="wrapper">
