{% extends "template.html" %}
{% block content %}
           <section class="container" id="content">
                <h3 class="title">Getting Started</h3>
                <p class="description">There are some ways to get started. First, see all download options available below, then choose the most suitable option for your need. </p>
                <p><a class="button download" href="https://github.com/labworx/labworxMVC" title="Download Milligram">Download Labworx MVC</a></p>
                <div class="example">
                <p><strong>Install with Composer</strong></p>
                </div>
                <pre class="code prettyprint"><code class="code-content">$ ... coming soon</code></pre>
                <p><strong>What you get</strong></p>
                <p>Once downloaded, extract the compressed folders.</p>
                <pre class="code prettyprint lang-md"><code class="code-content">labworxMVC/
├── core/
│   ├── controllers/
│   ├── models/
│   ├── views/
│   ├── App.php
│   └── Controller.php
├── public/
│   └── assets
├── vendor/
├── comoser.json
├── config.php
├── index.php
└── readme.md</code></pre>
                <h3 class="title">Installation and Setup</h3>
                <p>First, use any method mentioned above to download Labworx MVC. Then, just ...</p>
                <p>See more examples of <strong>getting started</strong> <a href="https://github.com/labworx/labworxMVC/wiki" title="Examples about getting started">here</a>.</p>
            </section>

            <section class="container" id="contributing">
                <h3 class="title">Contributing</h3>
                <p>Want to contribute? Follow these <a href="https://github.com/labworx/labworxMVC" title="Contributing"> recommendations</a>.</p>
            </section>
{% endblock %}
